.App {
  text-align: center;
}
h1 {
    font-family: 'Pinyon Script';
    font-size: 5em;
    text-align: center;
}
h2 {
  margin-left: 5em;
  color: black;
}
.navbar-nav {
  margin-left: 25em;
  font-family: 'Kanit', sans-serif;
  position: fixed;
  
}
.nav-item:hover {
  text-decoration: underline;
  text-transform: uppercase;
}
#navbarNav {
  z-index: 100;

}