.App {
  text-align: center;
}
h1 {
  font-family: url('https://fonts.googleapis.com/css?family=Pinyon+Script&display=swap');
}
h2 {
  margin-left: 5em;
  color: black;
}
.navbar-nav {
  margin-left: 25em;
  font-family: 'Kanit', sans-serif;
  position: fixed;
  
}
.nav-item:hover {
  text-decoration: underline;
  text-transform: uppercase;
}
#navbarNav {
  z-index: 100;

}